body {
	width: 960px;
	margin: auto;
}

form {
	width: 400px;
}

form p {
	margin-right: 100px;
}

form label {
	display: inline-block;
	width: 155px;
}

input {
	width: 155px;
}

fieldset {
	margin-bottom: 20px;
}

video {
	width: 640px;
	height: 480px;
}

#projectform, #stageform {
	display: none;
}